* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: "sidebar header" "sidebar content";
  width: 100vw;
  height: 100vh;
}

.header {
  grid-area: header;
  border: 1px solid pink;
  padding: 30px;
}

.sidebar {
  grid-area: sidebar;
  border: 1px solid green;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  gap: 5px;
}

.content {
  grid-area: content;
  border: 1px solid red;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;

  grid-template-areas: "projects announcement" "projects trending";

  background-color: blue;
}

.dashboard-logo {
  justify-content: start;
}

.sidecontent {
  justify-self: center;
}

.trending {
  grid-area: trending;
  border: 1px solid green;
  margin-bottom: 30px;
  margin-right: 50px;
}

.announcement {
  grid-area: announcement;
  border: 1px solid white;
  margin-top: 30px;
  margin-right: 50px;
}

.projects {
  grid-area: projects;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto repeat(2, 1fr);
  gap: 30px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.project {
  border: 1px solid pink;
}

.project-header {
  grid-area: 1 / 1 / 2/ 4;
}
